

<div class="row">
  <div class="col" style="margin: 5%;">
    <fieldset class="border mx-4 pl-3 mb-3">
        <legend  class="w-auto">Log In to the Baking Factory</legend><br>
        <% if flash[:alert] %>
          <p><%= flash[:alert] %></p> 
        <% end %>
        <%= form_tag do %>
          <div style="margin-right: 5%; margin-bottom: 1%;">
            <%= label_tag :username, 'Username:' %>
            <%= text_field_tag :username, params[:username], class: "form-control" %><br>
            <%= label_tag :password, 'Password:' %>
            <%= password_field_tag :password, params[:password], class: "form-control" %>
          </div>
          
          <div>
            <%= submit_tag "Log In", class: "btn btn-warning", style: "margin-bottom: 1%;" %>
            <%= link_to 'Back', :back, class: "btn btn-outline-warning", style: "margin-bottom: 1%;" %>
          </div>
        <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    
    <div class="card" style="margin: auto; width: 60%;">
      <div class="card-body">
        <h5 class="card-title">Helper logins</h5>
        <h6 class="card-subtitle text-muted">(To get you started)</h6>
        <p class="card-text mt-4">
          Admin: 'mark' <span style="color: #A9A9A9;">--> Use for item management and descriptive statistics</span><br>
          Shipper: 'shipper' <span style="color: #A9A9A9;">--> for a list of items to bake</span><br>
          Baker: 'baker' <span style="color: #A9A9A9;">--> for a list of items to ship</span><br>
          User: 'user12' <span style="color: #A9A9A9;">--> to create an order in the system</span><br><br>
          The password to each of the above usernames is <strong>'secret'</strong><br><br>
        </p>
        <%= link_to 'Visit the home page for more info', home_path  %> 
      </div>
    </div>

  </div>
</div>