

<div class="row">
  <div class="col" style="margin: 5%;">
    <fieldset class="border mx-4 pl-3 mb-3">
        <legend  class="w-auto">Log In to the Baking Factory</legend><br>
        <% if flash[:alert] %>
          <p><%= flash[:alert] %></p> 
        <% end %>
        <%= form_tag do %>
          <div style="margin-right: 5%; margin-bottom: 1%;">
            <%= label_tag :username, 'Username:' %>
            <%= text_field_tag :username, params[:username], class: "form-control" %><br>
            <%= label_tag :password, 'Password:' %>
            <%= password_field_tag :password, params[:password], class: "form-control" %>
          </div>
          
          <div>
            <%= submit_tag "Log In", class: "btn btn-warning", style: "margin-bottom: 1%;" %>
            <%= link_to 'Back', :back, class: "btn btn-outline-warning", style: "margin-bottom: 1%;" %>
          </div>
        <% end %>
  </div>
</div>