<div class="row">
  <div class="col" style="margin: 5%;">
    <fieldset class="border mx-4 pl-3 mb-3">
      <legend  class="w-auto"><%= type_of_form %></legend><br>

      <% if controller_name == "addresses" && action_name == "edit" %>
        
        <%= simple_form_for(object) do |f| %>

        <!-- Display Error -->
        <% if object.errors.any? %>
        
          <% object.errors.full_messages.each do |message| %>
            <% if message == "User must exist" %>
            <% else %> 
            <div class="alert-box <%= flash[:notice] ? "success" : "warning" %>">
              <%= message %>
            </div>
            <% end %> 
          <% end %>

        <% end %>  

        <div class="form-group" style="margin-right: 5%;">
            <%= render partial: "#{fields}", locals: { f: f } %>
        </div>

        <%= f.button :submit, class: "btn btn-primary", style: "margin-bottom: 1%;"%>
        <%= link_to 'Back', :back, class: "btn btn-outline-primary", style: "margin-bottom: 1%;" %>

        <% end %>

      <% else %>

        <%= form_for(object) do |f| %>
        
        <!-- Display Error -->
        <% if object.errors.any? %>
        
          <% object.errors.full_messages.each do |message| %>
            <% if message == "User must exist" %>
            <% else %> 
            <div class="alert-box <%= flash[:notice] ? "success" : "warning" %>">
              <%= message %>
            </div>
            <% end %> 
          <% end %>

        <% end %>  

        <div class="form-group" style="margin-right: 5%;">
            <%= render partial: "#{fields}", locals: { f: f } %>
        </div>

        <%= f.button :Submit, class: "btn btn-primary", style: "margin-bottom: 1%;"%>
        <%= link_to 'Back', :back, class: "btn btn-outline-primary", style: "margin-bottom: 1%;" %>

        <% end %>

      <% end %> 


    </fieldset>
  </div>
</div>