<% if @all_items.nil? || @all_items.empty? %>
  <p style="padding-top: 20px;">No items in the system!</p>
<% else %>
  <div style="padding-top: 2%;">
  <%= will_paginate @all_items, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  </div>
  <div style="display: inline; margin-left: .5%; margin-bottom: 5px; padding-top: 2%;">
    <%= link_to "Add a New Item", new_item_path, class: 'btn btn-primary' %> 
  </div>
  
  <table class="table table-striped" style="width: 90%; border: 1px dotted #007bff;">
    <thead>
      <tr>
        <th width="50">Name</th>
        <th width="50">Price</th>
        <th width="50">Units</th>        
        <th width="50">Edit</th>       
        <th width="50">Delete</th>     
        <th width="50">Add to Cart</th>        
      </tr>
    </thead>
    <tbody>
      <% @all_items.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= number_to_currency item.current_price %></td>
          <td><%= item.units_per_item %> <%= item.category == 'bread' ? 'loaf' : item.category %></td>
          <td>
            <%= link_to edit_item_path(item) do %>
              <i class="material-icons">edit</i>
            <% end %>
          </td>
          <td>&nbsp;&nbsp;
            <%= link_to(item_path(item), method: :delete, data: { confirm: 'Are you sure?' }) do %>
              <i class="material-icons">delete</i>
            <% end %>
          </td>
          
          <td>
            <%= button_to '+', {:controller => "cart_items", :action => "add_item", :item_id => item.id}, :method=>:post, params: {item_id: item.id}, class: 'btn btn-primary', style: 'margin-left: 20%;' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    
  <%= will_paginate @all_items, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
  
<% end %>
