<!-- NavBar --> 
<div class="row navbar">
<div class="col align-self-left text-left pl-4">
  <!-- Logo -->
  <%= link_to image_tag("logo.png"), :controller => 'home', :action => 'home' %>

  <!-- Links -->
    <%= link_to 'Dashboard', sales_dash_path, class: "nav-link underline_effect" %>&nbsp;&nbsp;&nbsp;&nbsp;l&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Items', items_path, class: 'nav-link underline_effect' %>
    <%= link_to 'Users', users_path, class: "nav-link underline_effect" %>
    <%= link_to 'Customers', items_path, class: 'nav-link underline_effect' %>
    <%= link_to 'Addresses', items_path, class: 'nav-link underline_effect' %>
    <%= link_to 'Orders', items_path, class: 'nav-link underline_effect' %>

    <!-- Logout -->
    <div style="padding-left: 6px;">
      <li style="font-size: .8em;" class="underline_effect"><%= link_to "Log Out", logout_user_path %></li>
    </div>
    <!-- Cart -->
    <span style="float: right; margin-right: 25px; margin-top: 15px;">
      <% if !session[:cart].empty? %>
        <div class="number_overlay" style="border-color: red; width: 24px; height: 30px; border-radius: 15px; position: absolute; top: 10px; right: 160px; z-index: 10; background-color: red;">
          <% if (session[:cart].values.sum) < 10 %>
            <p style="color: white; padding-left: 7px;">
              <%= (session[:cart].values.sum) %>
            </p>
          <% else %>
            <p style="color: white; padding-left: 2px;">
              <%= (session[:cart].values.sum) %>
            </p>
          <% end %>
        </div>
      <% else %>
      <% end %>
      <%= link_to image_tag("cart.png", :size => "48x48"), cart_path, class: 'underline_effect', style: 'padding-bottom: 11px' %> 
    </span>
</div>
</div>
