<% if logged_in? && current_user.role?(:admin) %>
	
	<div class="row">
		<div class="col" style="margin: 5%; margin-top: 1%;">
			
			<h1><span style="color: #ffc107">Baking Factory</span> Command Center:</h1><br><br>

			<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <%= link_to 'Sales Insights', sales_dash_path, class: "nav-link" %>
			  </li>
			  <li class="nav-item">
			    <%= link_to 'Customer Insights', customer_dash_path, class: "nav-link" %>
			  </li>
			  <li class="nav-item">
			    <%= link_to 'Item Insights', item_dash_path, class: "nav-link active" %>
			  </li>
			</ul>

			<div style="border: 1px solid #e5e4e2; border-top: none; display: inline;">
				<p style="width: 40%; margin: 5%; margin-top: 0px;">
				Total Items in System: <strong><%= @item_count %></strong><br>
				Total Active Items: <strong><%= @active_item_count %></strong><br><br>
				<span style="color: #a3a3a3;">View the most popular items below.</span>
				</p>

				<hr>
				<h5 style="margin-left: 45%; text-decoration: underline;">BF's Most Ordered Items:</h5>
				<%= content_tag :div, "", id: "morris_chart", data: {items: @items } %>

			</div>


		</div>
	</div>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

	<script type="text/javascript">
		new Morris.Bar({
		  element: 'morris_chart',
		  data: $('#morris_chart').data('items'),
		  xkey: 'label',
		  ykeys: ['value'],
		  labels: ['Total Orders']
		});
	</script>

<% end %>