<% if logged_in? && current_user.role?(:admin) %>
	
	<div class="row">
		<div class="col" style="margin: 5%; margin-top: 1%;">
			
			<h1><span style="color: #ffc107">Baking Factory</span> Command Center:</h1><br><br>

			<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <%= link_to 'Sales Insights', sales_dash_path, class: "nav-link active" %>
			  </li>
			  <li class="nav-item">
			    <%= link_to 'Customer Insights', customer_dash_path, class: "nav-link" %>
			  </li>
			  <li class="nav-item">
			    <%= link_to 'Item Insights', item_dash_path, class: "nav-link" %>
			  </li>
			</ul>

			<div style="border: 1px solid #e5e4e2; border-top: none; display: inline;"><br>
				<p style="width: 40%; margin: 5%; margin-top: 0px;">
				Total Nominal Sales: <strong><%= number_to_currency @total_sales %></strong><br>
				Total Items Sold: <strong><%= @goods_count %></strong><br><br>
				<span style="color: #a3a3a3;">To view all daily sales data, refer to the chart below.</span>
				</p>
				<div class="sales-toggle">
					<%= button_to '1 month', {:controller => "home", :action => "sales_dash", :weeks => 4}, :method=>:post, params: {weeks: 4}, class: 'btn btn-primary' %>
					<%= button_to '3 months', {:controller => "home", :action => "sales_dash", :weeks => 13}, :method=>:post, params: {weeks: 13}, class: 'btn btn-primary' %>
					<%= button_to '6 months', {:controller => "home", :action => "sales_dash", :weeks => 26}, :method=>:post, params: {weeks: 26}, class: 'btn btn-primary' %>
					<%= button_to 'All Data', {:controller => "home", :action => "sales_dash", :weeks => 52}, :method=>:post, params: {weeks: 52}, class: 'btn btn-primary' %>
				</div>

				<hr>

				<div style="margin-top: 5%;">
				<h5 style="margin-left: 45%; text-decoration: underline;">Daily Sales Volume:</h5>

				<%= content_tag :div, "", id: "morris_chart", data: {sales: @orders } %>
				</div>
			</div>


		</div>
	</div>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

	<script type="text/javascript">
		new Morris.Line({
		  // ID of the element in which to draw the chart.
		  element: 'morris_chart',
		  // Chart data records -- each entry in this array corresponds to a point on
		  // the chart.
		  data: $('#morris_chart').data('sales'),
		  // The name of the data record attribute that contains x-values.
		  xkey: 'date',
		  // A list of names of data record attributes that contain y-values.
		  ykeys: ['sales'],
		  // Labels for the ykeys -- will be displayed when you hover over the
		  // chart.
		  labels: ['Daily Sales']
		});
	</script>

<% end %>