    <!-- Show User Errors First -->
    <% if action_name == "new" && @user.errors.any? %>
        <% @user.errors.full_messages.uniq.each do |message| %>
          <div class="alert-box <%= flash[:notice] ? "success" : "warning" %>">
              <%= message %>
          </div>
        <% end %>
    <% end %>  

    <%= f.label :first_name %> 
    <%= f.text_field :first_name, class: "form-control" %><br>
    <%= f.label :last_name %> 
    <%= f.text_field :last_name, class: "form-control" %><br>
    <%= f.label :phone %> 
    <%= f.text_field :phone, class: "form-control" %><br>
    <%= f.label :email %> 
    <%= f.text_field :email, class: "form-control" %><br>
    
    <% if logged_in? && current_user.role?(:admin) %>
    <hr>
    <!-- Also Render Nested User Fields -->
    <div class="form-group">
      <%= f.label :username %> 
      <%= f.text_field :username, class: "form-control" %><br>
      <%= f.label :password %> 
      <%= f.password_field :password, class: "form-control" %><br>
      <%= f.label "Confirm Password" %> 
      <%= f.password_field :password_confirmation, class: "form-control" %><br>
      <%= f.check_box :active, class: "form-control", style: "width: 2%; height: 16px; display: inline;" %> Make User Active<br>
    </div>
    <% end %>

    <% if logged_in? && current_user.role?(:admin) %>
    <%= f.check_box :active, class: "form-control", style: "width: 2%; height: 16px; display: inline;" %> Make Customer Active
    <% end %>

